<p id="notice"><%= notice %></p>

<h1>Listing Books</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Page count</th>
      <th>On shelf</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @books.each do |book| %>
    <div>
      <tr>
        <td><%= book.title %></td>
        <td><%= book.page_count %></td>
        <td><%= book.on_shelf %></td>
        <td><%= link_to 'Show', book %></td>
        <% if user_signed_in? %>
        <td><%= link_to 'Edit', edit_book_path(book) %></td>
        <td><%= link_to 'Destroy', book, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% end %>
      </tr>
    </div>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Book', new_book_path %>

<br>
<br>

<%= form_tag books_path, method: :get do %>
  <%= text_field_tag :title_search, params[:title_search], placeholder: 'Search by title' %>
  <br />
  <h3>Search on-shelf books only?</h3>
  <%= check_box_tag :on_shelf, true, params[:on_shelf]=='true' %>
  <br />
  <h3>Pages</h3>
  <%= number_field_tag :min_page_count, params[:min_page_count], placeholder: 'Minimum' %>
  <%= number_field_tag :max_page_count, params[:max_page_count], placeholder: 'Maximum'  %>
  <%= button_tag "Search" %>
<% end %>
